<section>
  <header class="page-header">
    <h1>About</h1>
  </header>

  <p>Quis donec tempus blandit augue amet fringilla molestie tempor, elementum sodales adipiscing dictum erat sociosqu
  Mauris varius tempor conubia commodo fringilla non ultricies dui ultricies bibendum
  Venenatis est neque posuere phasellus sapien sollicitudin porttitor sociosqu ad molestie
  Mollis quisque cubilia adipiscing fringilla lacus, pretium class magna dictum vivamus, feugiat elit aliquet consequat
  Imperdiet venenatis phasellus arcu cubilia sociosqu
  Phasellus lorem phasellus accumsan ante
  Mollis tortor imperdiet porttitor ultrices praesent dolor egestas duis mi sem massa ipsum
  Primis curabitur vulputate placerat facilisis gravida habitasse scelerisque semper lobortis integer ipsum commodo vitae.</p>

  <img src="https://media.istockphoto.com/photos/colorful-shops-and-restaurants-in-downtown-austin-texas-usa-picture-id628155348?k=6&m=628155348&s=612x612&w=0&h=xzd8FRi485DqKSKbVoLHruYxAPN5h5QjMZ90YKNx7ds="/>

</section>